.modal-otp-width {
  width: 2.4rem !important;
}

@media screen and (max-width: 768px) {
  .modal-otp-width {
    width: 2.2rem !important;
  }
}

@media screen and (max-width: 640px) {
  .modal-otp-width {
    width: 1.8rem !important;
  }
}
@media screen and (max-width: 300px) {
  .modal-otp-width {
    width: 1.2rem !important;
  }
}
